@import "buttons.css"; /* Using a string */
@import "input.css"; /* Using a string */

* {
  font-family: "Exo", sans-serif;
}

html {
  background: url("../images/background.png") no-repeat center fixed;
  background-size: cover;
}

.text-sm {
  font-size: 0.9em;
}

.input-error,
.input-error:focus {
  border: 1px solid #fc5c65;
  color: #fc5c65;
}

.form-error {
  color: #fc5c65;
  font-size: 0.7em;
}